h1 {

}

h2 {
    font-size: smaller;
}

.result-card {
    border: solid black 1px;
    inline-size: 25%;
    margin: .5em;
    min-width: fit-content;
    padding-left: 2em;
    background-color: aliceblue;
}

#results {
    display: flex;
    inline-size: 80em;
    border: solid;
    width: auto;
    flex-wrap: wrap;
}

.inputArea {
    display: grid;
    margin-left: 5em;
}

#bannerCanvas {
    display: flex;
}

input, button {
    max-height: 2em;
}

#viewAllArea {
    margin-left: 5em;
    padding-top: 5%;
}